name: Generate Snake Animation

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Snake Animation
        uses: Platane/snk@v3
        with:
          github_user_name: saicharan8855
          outputs: |
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark&color_snake=00d9ff&color_dots=#0d1117,#1a0533,#3b1f8e,#6c3ce0,#00d9ff

      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
